<main class="main" id="top">
    <app-nav-bar></app-nav-bar>

    <section class="py-0 my-7">
        <!-- <div  class="bg-holder w-40 bg-left  d-none d-lg-block img-portrait" ></div> -->
        <!-- bg-secondary-gradient{background:-webkit-gradient(linear, left top, right top, from(#febe15), to(#fe7a15)); -->
        <div class="container">
          <div class="row g-0">
            <!-- <div class="col-lg-4 order-1 order-lg-0"> </div> -->
            <div class="col-lg-12 bg-white">
              <div class="carousel slide" id="carouselShare" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="5000" >
                    <div class="row h-100">
                      <div class="col-12">
                        <img class="w-100" src={{modalArray.image2}} alt="..." />
                        <div class="card-img-overlay" style="margin-top: 2em;">
                          <span class="badge bg-secondary ms-3 me-1 p-2">
                            <i class="fas fa-home me-1"></i>
                            <span>{{modalArray.mtsInmueble}} mts²</span>
                          </span>
                          <span class="badge bg-secondary ms-3 me-1 p-2">
                            <i class="fas fa-bed me-1"></i>
                            <span>{{modalArray.bedrooms}} Habitaciones</span>
                          </span>
                        </div>
                        <div class="pt-5 ps-sm-7">
                          <h4 class="mb-2 text-1000">{{modalArray.name}}</h4>
                          <div class="d-flex align-items-center justify-content-start">
                            <span class="text-800 fs--1 me-2"><i class="fas fa-map-marker-alt"></i></span>
                            <span class="text-900 me-3">{{modalArray.ubication}} - {{modalArray.zone}}</span>
                          </div>
                          <div class="py-4">
                            <h4 class="mb-2 text-primary"> Desde ${{modalArray.minPrice}} - Hasta ${{modalArray.maxPrice}}</h4>
                          </div>
                          <p class="fw-normal mb-0">{{modalArray.title }}</p>
                        </div>
                      </div>
                      <div class="col-12 pt-5 ps-sm-7">
                        <p class="text-900 me-3">Amenidades:</p>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="alberca">
                            <span>Alberca</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="quazona">
                            <span>Aquazona</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="asadores">
                            <span>Asadores</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="cafeteria">
                            <span>Cafetería</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="cancha">
                            <span>Cancha</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="gimnasio">
                            <span>Gimnasio</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="gymexterior">
                            <span>Gym exterior</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="ludoteca">
                            <span>Lúdoteca</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="palapa">
                            <span>Palapa</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="petZone">
                            <span>Pet zone</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="jogging">
                            <span>Pista de Jogging</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="vigilancia">
                            <span>Vigilancia</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="lounge">
                            <span>Zona Lounge</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="infantil">
                            <span>Área infantil</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="areasVerde">
                            <span>Áreas verdes</span>
                          </span>      
                      </div>
                    </div>
                    <div class="row align-items-end mb-5">
                      <div class="position-relative z-index-2 text-end" >
                        <a class="btn btn-lg text-secondary" href={{linkWhats}} target="_blank" style="font-size: larger;">
                            Contacta a un asesor  &nbsp; <i class="fab fa-whatsapp"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="4000">
                    <div class="row h-100">
                      <div class="col-12">
                        <img class="w-100" src={{modalArray.image3}} alt="..." />
                        <div class="card-img-overlay" style="margin-top: 2em;">
                          <span class="badge bg-secondary ms-3 me-1 p-2">
                            <i class="fas fa-home me-1"></i>
                            <span>{{modalArray.mtsInmueble}} mts²</span>
                          </span>
                          <span class="badge bg-secondary ms-3 me-1 p-2">
                            <i class="fas fa-bed me-1"></i>
                            <span>{{modalArray.bedrooms}} Habitaciones</span>
                          </span>
                        </div>
                        <div class="pt-5 ps-sm-7">
                          <h4 class="mb-2 text-1000">{{modalArray.name}}</h4>
                          <div class="d-flex align-items-center justify-content-start">
                            <span class="text-800 fs--1 me-2"><i class="fas fa-map-marker-alt"></i></span>
                            <span class="text-900 me-3">{{modalArray.ubication}} - {{modalArray.zone}}</span>
                          </div>
                          <div class="py-4">
                            <h4 class="mb-2 text-primary"> Desde ${{modalArray.minPrice}} - Hasta ${{modalArray.maxPrice}}</h4>
                          </div>
                          <p class="fw-normal mb-0">{{modalArray.title}}</p>
                        </div>
                      </div>
                      <div class="col-12 pt-5 ps-sm-7">
                        <p class="text-900 me-3">Amenidades:</p>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="alberca">
                            <span>Alberca</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="quazona">
                            <span>Aquazona</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="asadores">
                            <span>Asadores</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="cafeteria">
                            <span>Cafetería</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="cancha">
                            <span>Cancha</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="gimnasio">
                            <span>Gimnasio</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="gymexterior">
                            <span>Gym exterior</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="ludoteca">
                            <span>Lúdoteca</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="palapa">
                            <span>Palapa</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="petZone">
                            <span>Pet zone</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="jogging">
                            <span>Pista de Jogging</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="vigilancia">
                            <span>Vigilancia</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="lounge">
                            <span>Zona Lounge</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="infantil">
                            <span>Área infantil</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="areasVerde">
                            <span>Áreas verdes</span>
                          </span>      
                      </div>
                    </div>
                    <div class="row align-items-end">
                      <div class="position-relative z-index-2 text-end" >
                        <a class="btn btn-lg text-secondary" href={{linkWhats}} target="_blank">
                            Contacta a un asesor  &nbsp; <i class="fab fa-whatsapp"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="4000">
                    <div class="row h-100">
                      <div class="col-12">
                        <img class="w-100" src={{modalArray.image4}} alt="..." />
                        <div class="card-img-overlay" style="margin-top: 2em;">
                          <span class="badge bg-secondary ms-3 me-1 p-2">
                            <i class="fas fa-home me-1"></i>
                            <span>{{modalArray.mtsInmueble}} mts²</span>
                          </span>
                          <span class="badge bg-secondary ms-3 me-1 p-2">
                            <i class="fas fa-bed me-1"></i>
                            <span>{{modalArray.bedrooms}} Habitaciones</span>
                          </span>
                        </div>
                        <div class="pt-5 ps-sm-7">
                          <h4 class="mb-2 text-1000">{{modalArray.name}}</h4>
                          <div class="d-flex align-items-center justify-content-start">
                            <span class="text-800 fs--1 me-2"><i class="fas fa-map-marker-alt"></i></span>
                            <span class="text-900 me-3">{{modalArray.ubication}} - {{modalArray.zone}}</span>
                          </div>
                          <div class="py-4">
                            <h4 class="mb-2 text-primary"> Desde ${{modalArray.minPrice}} - Hasta ${{modalArray.maxPrice}}</h4>
                          </div>
                          <p class="fw-normal mb-0">{{modalArray.title}}</p>
                        </div>
                      </div>
                      <div class="col-12 pt-5 ps-sm-7">
                        <p class="text-900 me-3">Amenidades:</p>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="alberca">
                            <span>Alberca</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="quazona">
                            <span>Aquazona</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="asadores">
                            <span>Asadores</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="cafeteria">
                            <span>Cafetería</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="cancha">
                            <span>Cancha</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="gimnasio">
                            <span>Gimnasio</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="gymexterior">
                            <span>Gym exterior</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="ludoteca">
                            <span>Lúdoteca</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="palapa">
                            <span>Palapa</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="petZone">
                            <span>Pet zone</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="jogging">
                            <span>Pista de Jogging</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="vigilancia">
                            <span>Vigilancia</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="lounge">
                            <span>Zona Lounge</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="infantil">
                            <span>Área infantil</span>
                          </span>
                          <span class="badge bg-primary ms-3 me-1 p-2 mb-3" *ngIf="areasVerde">
                            <span>Áreas verdes</span>
                          </span>      
                      </div>
                    </div>
                    <div class="row align-items-end">
                      <div class="position-relative z-index-2 text-end" >
                        <a class="btn btn-lg text-secondary" href={{linkWhats}} target="_blank">
                            Contacta a un asesor  &nbsp; <i class="fab fa-whatsapp"></i>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <button style="margin-top: -20em;" class="carousel-control-prev" type="button" data-bs-target="#carouselShare" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button style="margin-top: -20em;" class="carousel-control-next" type="button" data-bs-target="#carouselShare" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>

                </div>

                <div class="row ps-sm-7 align-items-end">
                  <div class="col-4 col-sm-6 position-relative z-index-2">
                    <ol class="carousel-indicators me-xxl-7 me-xl-4 me-lg-7">
                      <li class="active" data-bs-target="#carouselShare" data-bs-slide-to="0"></li>
                      <li data-bs-target="#carouselShare" data-bs-slide-to="1"></li>
                      <li data-bs-target="#carouselShare" data-bs-slide-to="2"></li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

    <app-footer></app-footer>  
</main>