<main class="main" id="top">
    <app-nav-bar></app-nav-bar>

    <section class="py-0 my-7">
        <div  class="bg-holder w-40 bg-left  d-none d-lg-block img-portrait" ></div>
        
        
        <!-- bg-secondary-gradient{background:-webkit-gradient(linear, left top, right top, from(#febe15), to(#fe7a15)); -->
        <div class="container">
          <div class="row g-0">
            <div class="col-lg-4 order-1 order-lg-0"> </div>
            <div class="col-lg-8 bg-white">
              <div class="carousel slide" id="carouselShare" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="5000" >
                    <div class="row h-100">
                      <div class="col-12">
                        <img class="w-100" src={{modalArray.image2}} alt="..." />
                        <div class="pt-5 ps-sm-7">
                          <h4 class="mb-2 text-1000">{{modalArray.title}}</h4>
                          <h2 class="mb-3 text-primary fs-3 fs-md-6"> $ {{modalArray.costNew}}</h2>
                          <p class="fw-normal mb-0">{{modalArray.description}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="row ps-sm-7 align-items-end">
                      <div class="position-relative z-index-2 text-end" >
                        <a class="btn btn-lg text-secondary" href={{linkWhats}} target="_blank">
                            Contacta a un asesor  &nbsp; <i class="fab fa-whatsapp"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="4000" >
                    <div class="row h-100">
                      <div class="col-12">
                        <img class="w-100" src={{modalArray.image3}} alt="..." />
                        <div class="pt-5 ps-sm-7">
                          <h4 class="mb-2 text-1000">{{modalArray.title}}</h4>
                          <h2 class="mb-3 text-primary fs-3 fs-md-6"> $ {{modalArray.costNew}}</h2>
                          <p class="fw-normal mb-0">{{modalArray.description}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="row ps-sm-7 align-items-end">
                      <div class="position-relative z-index-2 text-end" >
                        <a class="btn btn-lg text-secondary" href={{linkWhats}} target="_blank">
                            Contacta a un asesor  &nbsp; <i class="fab fa-whatsapp"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="4000" >
                    <div class="row h-100">
                      <div class="col-12">
                        <img class="w-100" src={{modalArray.image4}} alt="..." />
                        <div class="pt-5 ps-sm-7">
                          <h4 class="mb-2 text-1000">{{modalArray.title}}</h4>
                          <h2 class="mb-3 text-primary fs-3 fs-md-6"> $ {{modalArray.costNew}}</h2>
                          <p class="fw-normal mb-0">{{modalArray.description}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="row ps-sm-7 align-items-end">
                      <div class="position-relative z-index-2 text-end" >
                        <a class="btn btn-lg text-secondary" href={{linkWhats}} target="_blank">
                            Contacta a un asesor  &nbsp; <i class="fab fa-whatsapp"></i>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselShare" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselShare" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>

                </div>
                <div class="row ps-sm-7 align-items-end">
                  <div class="col-4 col-sm-6 position-relative z-index-2">
                    <ol class="carousel-indicators me-xxl-7 me-xl-4 me-lg-7">
                      <li class="active" data-bs-target="#carouselShare" data-bs-slide-to="0"></li>
                      <li data-bs-target="#carouselShare" data-bs-slide-to="1"></li>
                      <li data-bs-target="#carouselShare" data-bs-slide-to="2"></li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

    <app-footer></app-footer>  
</main>