<section>
    <div class="bg-holder" style="background-image:url(assets/img/cta-bg.png);background-position:center;background-size:cover;"></div>
    <!--/.bg-holder-->
    <div class="container">
      <div class="row flex-center">
        <div class="col-lg-6 text-center"><img class="mb-5 mb-lg-0" src="assets/img/cta-mobile.png" alt="..." /></div>
        <div class="col-lg-6 text-center">
          <h1 class="fs-6 pe-xxl-10">Get the app</h1>
          <div class="mt-4 pe-xxl-10"><a href="https://play.google.com/store/apps" target="_blank"><img class="me-3" src="assets/img/google-play.png" width="170" alt="..." /></a><a href="https://www.apple.com/app-store/" target="_blank"> <img src="assets/img/app-store.png" width="170" alt="..." /></a></div>
        </div>
      </div>
    </div>
  </section>