<section id="testimonial" style="padding-bottom: 0; padding-top: 0;">
  <div class="container">
    <div class="row h-100">
      <div class="col-12" style="text-align: end;" (click)="sortOrderByPrice()">
        <span style="font-size: smaller;" class="text-primary">
          Ordenar por precio (de menor a mayor)
        </span>

        <div style="display: inline-block; padding-left: 0.5em; padding-bottom: 0.5em;" >
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#fcb73d" class="bi bi-funnel-fill" viewBox="0 0 16 16">
            <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
          </svg>
        </div>

      </div>

      <div class="col-12">
        <div class="carousel slide" id="carouselTestimonials">
          <div class="carousel-inner">         
            <div class="carousel-item active">
              <div class="row h-100 align-items-center g-2">
                <div class="col-md-4 mb-3 mb-md-0 h-100" *ngFor="let item of listArray;">
                  <div class="card card-span h-100 text-white separate-card"> 
                    <img class="img-fluid h-100" src={{item.image}} alt="..." (click)="tapToDescription(item)"/>
                    <div class="card-img-overlay-custom">
                      <span class="badge bg-primary ms-3 me-1 p-2">
                        <i class="fas fa-home me-1"></i>
                        <span>{{item.mtsInmueble}} mts²</span>
                      </span>
                      <span class="badge bg-primary ms-3 me-1 p-2">
                        <i class="fas fa-bed me-1"></i>
                        <span>{{item.bedrooms}} Habitaciones</span>
                      </span>
                    </div>
                    <div class="card-body">
                      <h5 class="fw-bold text-1000 mb-4 text-truncate">{{item.name}}</h5>
                      <h6 class="text-800 mb-4 text-truncate">{{item.cardSubtitle}}</h6>
                      <div class="d-flex align-items-center justify-content-start">
                        <span class="text-800 fs--1 me-2"><i class="fas fa-map-marker-alt"></i></span>
                        <span class="text-900 me-3">{{item.ubication}} - {{item.zone}}</span>
                      </div>
                        <p class="text-decoration-line-through text-900 mt-3 mb-0"> Precio anterior: ${{item.costPrev}}</p>
                        <h1 class="mb-3 text-primary fw-bolder fs-4">
                          <h5 class="fw-bold text-black text-truncate">Ahora desde:</h5>
                          <span>{{item.costNew | currency }}</span> &nbsp;
                          <span class="text-900 fs--1 fw-normal">MXN</span>
                        </h1>

                      <div class="col-12 col-xl-10 col-lg-12 d-grid mt-4">                  
                        <button class="btn btn-secondary" (click)="openLinkWhats(item)">
                          Contacta a un asesor <i class="fab fa-whatsapp"></i>
                        </button>
                      </div>

                      <div class="row align-items-end" style="margin-top: 2em;">
                        <div class="position-relative z-index-2 text-end" (click)="tapToDescription(item)">
                          <span class="fw-bold fw-normal text-1000 text-truncate" style="font-size: x-large;">
                            Ver detalles &nbsp; <i class="fas fa-chevron-right text-1000 fw-bold"></i>
                          </span>
                        </div>
                      </div>
                        
                    </div>

                  </div>

                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="row h-100">
      <h1 class="display-3 text-primary fw-bold">
        ¿Encontraste la vivienda ideal?
      </h1>
      <h3 >
        Si las opciones publicadas no se encuentran en el lugar que deseas o no se ajustan a tus necesidades, ¡nosotros te ayudamos a buscar la casa de tus sueños! 
      </h3>
      <a class="btn btn-lg text-secondary" href={{linkWhats}} target="_blank" style="font-size: larger;" (click)="eventListenSeo()">
        Contáctanos aquí
      </a>
    </div>
  </div>
</section>

<!-- <section id="testimonial">
  <div class="container">
    <div class="row h-100">
      <div class="col-12">
        <div class="carousel slide" id="carouselTestimonials" data-bs-ride="carousel" data-touch="true">
          <div class="carousel-inner">         
            <div class="carousel-item active" data-bs-interval="500000">
              <div class="row h-100 align-items-center g-2">
                <div class="col-md-4 mb-3 mb-md-0 h-100" *ngFor="let item of arrayFirst;">
                  <div  class="card card-span h-100 text-white"
                        (click)="tapToDescription(item)" style="cursor:pointer"> 
                    <img class="img-fluid h-100" src={{item.image}} alt="..." />
                    <div class="card-img-overlay ps-0">
                      <span class="badge bg-primary ms-3 me-1 p-2">
                        <i class="fas fa-home me-1"></i>
                        <span>{{item.mtsInmueble}} mts²</span>
                      </span>
                      <span class="badge bg-primary ms-3 me-1 p-2">
                        <i class="fas fa-bed me-1"></i>
                        <span>{{item.bedrooms}} Habitaciones</span>
                      </span>
                    </div>
                    <div class="card-body ps-0">
                      <h5 class="fw-bold text-1000 mb-4 text-truncate">{{item.name}}</h5>
                      <h6 class="text-800 mb-4 text-truncate">{{item.cardSubtitle}}</h6>
                      <div class="d-flex align-items-center justify-content-start">
                        <span class="text-800 fs--1 me-2"><i class="fas fa-map-marker-alt"></i></span>
                        <span class="text-900 me-3">{{item.ubication}} - {{item.zone}}</span>
                      </div>
                        <p class="text-decoration-line-through text-900 mt-3 mb-0">${{item.costPrev}}</p>
                        <h1 class="mb-3 text-primary fw-bolder fs-4">
                          <span>${{item.costNew}}</span> &nbsp;
                          <span class="text-900 fs--1 fw-normal">MXN</span>
                        </h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item" data-bs-interval="500000">
              <div class="row h-100 align-items-center g-2">
                <div class="col-md-4 mb-3 mb-md-0 h-100" *ngFor="let item of arraySecond;">
                  <div  class="card card-span h-100 text-white"
                        (click)="tapToDescription(item)" style="cursor:pointer"> 
                    <img class="img-fluid h-100" src={{item.image}} alt="..." />
                    <div class="card-img-overlay ps-0">
                      <span class="badge bg-primary ms-3 me-1 p-2">
                        <i class="fas fa-home me-1"></i>
                        <span>{{item.mtsInmueble}} mts²</span>
                      </span>
                      <span class="badge bg-primary ms-3 me-1 p-2">
                        <i class="fas fa-bed me-1"></i>
                        <span>{{item.bedrooms}} Habitaciones</span>
                      </span>
                    </div>
                    <div class="card-body ps-0">
                      <h5 class="fw-bold text-1000 mb-4 text-truncate">{{item.name}}</h5>
                      <h6 class="text-800 mb-4 text-truncate">{{item.cardSubtitle}}</h6>
                      <div class="d-flex align-items-center justify-content-start">
                        <span class="text-800 fs--1 me-2"><i class="fas fa-map-marker-alt"></i></span>
                        <span class="text-900 me-3">{{item.ubication}} - {{item.zone}}</span>
                      </div>
                        <p class="text-decoration-line-through text-900 mt-3 mb-0">${{item.costPrev}}</p>
                        <h1 class="mb-3 text-primary fw-bolder fs-4">
                          <span>${{item.costNew}}</span> &nbsp;
                          <span class="text-900 fs--1 fw-normal">MXN</span>
                        </h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item" data-bs-interval="500000">
              <div class="row h-100 align-items-center g-2">
                <div class="col-md-4 mb-3 mb-md-0 h-100" *ngFor="let item of arrayThird;">
                  <div  class="card card-span h-100 text-white"
                        (click)="tapToDescription(item)" style="cursor:pointer"> 
                    <img class="img-fluid h-100" src={{item.image}} alt="..." />
                    <div class="card-img-overlay ps-0">
                      <span class="badge bg-primary ms-3 me-1 p-2">
                        <i class="fas fa-home me-1"></i>
                        <span>{{item.mtsInmueble}} mts²</span>
                      </span>
                      <span class="badge bg-primary ms-3 me-1 p-2">
                        <i class="fas fa-bed me-1"></i>
                        <span>{{item.bedrooms}} Habitaciones</span>
                      </span>
                    </div>
                    <div class="card-body ps-0">
                      <h5 class="fw-bold text-1000 mb-4 text-truncate">{{item.name}}</h5>
                      <h6 class="text-800 mb-4 text-truncate">{{item.cardSubtitle}}</h6>
                      <div class="d-flex align-items-center justify-content-start">
                        <span class="text-800 fs--1 me-2"><i class="fas fa-map-marker-alt"></i></span>
                        <span class="text-900 me-3">{{item.ubication}} - {{item.zone}}</span>
                      </div>
                        <p class="text-decoration-line-through text-900 mt-3 mb-0">${{item.costPrev}}</p>
                        <h1 class="mb-3 text-primary fw-bolder fs-4">
                          <span>${{item.costNew}}</span> &nbsp;
                          <span class="text-900 fs--1 fw-normal">MXN</span>
                        </h1>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="!isMobile">
              <button style="margin-bottom: 15em;" class="carousel-control-prev" type="button" data-bs-target="#carouselTestimonials" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button style="margin-bottom: 15em;" class="carousel-control-next" type="button" data-bs-target="#carouselTestimonials" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>

          <div class="row flex-center">
            <div class="col-auto position-relative z-index-2">
              <ol class="carousel-indicators me-xxl-7 me-xl-4 me-lg-7">
                <li class="active" data-bs-target="#carouselTestimonials" data-bs-slide-to="0"></li>
                <li data-bs-target="#carouselTestimonials" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselTestimonials" data-bs-slide-to="2"></li>
              </ol>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section> -->