<main class="main" id="top">
    <app-nav-bar></app-nav-bar>

    <section class="py-0" style="margin-top: 6em;">
        <div class="container">
            <div class="row h-100 g-2 justify-content-center">
                <div style="text-align: center; padding: 3em;">
                    <h1 class="text-primary fw-bold">Términos y condiciones</h1>
                </div>
                
                <iframe style="margin-top: -1em;" 
                        src="https://docs.google.com/viewer?srcid=1B5b7Jc1OnbJ0pujdbNxgih1izkPfLuoN&pid=explorer&efh=false&a=v&chrome=false&embedded=true" 
                        width="100%" height="680px">
                </iframe>
            </div>
        </div>
    </section>
    
    <app-footer></app-footer>  
</main>