<section class="overflow-hidden">
    <div class="container bg-offcanvas-gray-right">
      <div class="row gx-2">
        <div class="col-sm-6 col-lg-4">
          <div class="bg-primary-gradient h-100 d-flex align-items-end">
            <div class="row g-0 justify-content-start">
              <div class="col-xl-9">
                <div class="p-3 px-lg-4 text-light">
                  <!-- <img class="mb-5" src="assets/img/icon-hotel.svg" alt="..." /> -->
                  <h2 class="mb-3 text-light">
                    Somos un portal inmobiliario cuya misión es ser un puente entre desarrolladores y clientes.
                  </h2>
                  <p>
                    Brindamos apoyo a quienes buscan obtener un patrimonio propio de acuerdo a sus necesidades familiares, presupuesto y la mejor plusvalía, fomentando siempre la cultura financiera.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="row g-2">
            <div class="col-12">
              <div class="card card-span h-100 text-white">
                <img class="img-fluid h-100 w-100" src={{completeArray[2].image2}} height="375" alt="..." />
                <div  class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-therichpost-gradient"
                      (click)="viewDetails(completeArray[2])">
                  <div class="mt-auto px-4">
                    <h3 class="fs-1 fs-md-2 text-white">{{completeArray[2].name}}</h3>
                    <div class="d-flex align-items-center justify-content-start">
                      <span class="text-light fs--1 me-1"><i class="fas fa-map-marker-alt"></i></span>
                      <span class="text-light me-md-3">{{completeArray[2].ubication}} - {{completeArray[2].zone}}</span></div>
                    <!-- <p class="mb-0 mt-3">Starts from </p> -->
                    <h1 class="mb-2 text-light fw-bolder fs-2 fs-md-4">
                      <span>${{completeArray[2].costNew}}</span>
                      <span class="text-light fs--1 fw-normal">/MXN</span></h1>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="card card-span h-100 text-white">
                <img class="img-fluid h-100 w-100" src={{completeArray[8].image3}} height="375" alt="..." />
                <div  class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-therichpost-gradient"
                      (click)="viewDetails(completeArray[8])">
                  <div class="mt-auto px-4">
                    <h3 class="fs-1 fs-md-2 text-white">{{completeArray[8].name}}</h3>
                    <div class="d-flex align-items-center justify-content-start">
                      <span class="text-light fs--1 me-1"><i class="fas fa-map-marker-alt"></i></span>
                      <span class="text-light me-md-3">{{completeArray[8].ubication}} - {{completeArray[8].zone}}</span></div>
                    <!-- <p class="mb-0 mt-3">Starts from </p> -->
                    <h1 class="mb-2 text-light fw-bolder fs-2 fs-md-4">
                      <span>${{completeArray[8].costNew}}</span>
                      <span class="text-light fs--1 fw-normal">/MXN</span></h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="row g-2">
            <div class="col-12">
              <div class="card card-span h-100 text-white">
                <img class="img-fluid h-100 w-100" src={{completeArray[4].image2}} height="375" alt="..." />
                <div  class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-therichpost-gradient"
                      (click)="viewDetails(completeArray[4])">
                  <div class="mt-auto px-4">
                    <h3 class="fs-1 fs-md-2 text-white">{{completeArray[4].name}}</h3>
                    <div class="d-flex align-items-center justify-content-start">
                      <span class="text-light fs--1 me-1"><i class="fas fa-map-marker-alt"></i></span>
                      <span class="text-light me-md-3">{{completeArray[4].ubication}} - {{completeArray[4].zone}}</span></div>
                    <!-- <p class="mb-0 mt-3">Starts from </p> -->
                    <h1 class="mb-2 text-light fw-bolder fs-2 fs-md-4">
                      <span>${{completeArray[4].costNew}}</span>
                      <span class="text-light fs--1 fw-normal">/MXN</span></h1>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="card card-span h-100 text-white">
                <img class="img-fluid h-100 w-100" src={{completeArray[1].image3}} height="375" alt="..." />
                <div  class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-therichpost-gradient"
                      (click)="viewDetails(completeArray[1])">
                  <div class="mt-auto px-4">
                    <h3 class="fs-1 fs-md-2 text-white">{{completeArray[1].name}}</h3>
                    <div class="d-flex align-items-center justify-content-start">
                      <span class="text-light fs--1 me-1"><i class="fas fa-map-marker-alt"></i></span>
                      <span class="text-light me-md-3">{{completeArray[1].ubication}} - {{completeArray[1].zone}}</span></div>
                    <!-- <p class="mb-0 mt-3">Precios desde:</p> -->
                    <h1 class="mb-2 text-light fw-bolder fs-2 fs-md-4">
                      <span>${{completeArray[1].costNew}}</span>
                      <span class="text-light fs--1 fw-normal">/MXN</span></h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-8 gy-2">
          <div class="bg-secondary-gradient h-100 d-flex align-items-center">
            <div class="text-light py-6">
              <div class="row">
                <div class="col-12 col-xl-6">
                  <p class="fs-1 px-5">Envianos un mensaje y un asesor personalizado te atenderá.</p>
                </div>
                <div class="col-12 col-xl-6 text-end">
                  <a class="btn btn-lg text-light fs-1 fs-sm--1 fs-md-1 px-5" (click)="goContactDialog()">
                    Contáctanos
                    <svg class="bi bi-arrow-right-circle ms-3" xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"></path>
                    </svg>
                  </a>
                  <!-- <a class="btn btn-lg text-light fs-1 fs-sm--1 fs-md-1 px-5" (click)="goContactDialog()">
                    ¡Envíanos un mensaje directo! &nbsp; <i class="fab fa-whatsapp"></i>
                  </a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>