
   <main class="main" id="top">

    <app-nav-bar></app-nav-bar>

    <app-finder-portrait></app-finder-portrait>

    <app-promo-banner></app-promo-banner>

    <app-slide-promo></app-slide-promo>

    <!-- <app-trends-section></app-trends-section> -->

    <app-slide-galery></app-slide-galery>
    
    <app-packages-section></app-packages-section>

    <!-- <app-slide-activities></app-slide-activities> -->

    <!-- <app-best-promos></app-best-promos> -->

    <!-- <app-rating-section></app-rating-section> -->

    <!-- <app-prices-section></app-prices-section> -->

    <!-- <app-get-app></app-get-app> -->

    <app-footer></app-footer>

  </main>
