<main class="main" id="top">
    <app-nav-bar></app-nav-bar>
    
    <section class="top-space" >
        <div class="container mt-6">
            <form #form="ngForm" (ngSubmit)="updateDataForm(form)" class="row g-4" style="text-align: center;">
                <div class="col-lg-6">
                    <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="col-12 col-xl-12 col-lg-12 d-grid item-center">
                            <input [(ngModel)]="formModel.id" type="text" name="id" required placeholder="ID del Desarrollo">
                        </div>
                        <div class="col-12 col-xl-12 col-lg-12 d-grid item-center mt-4">
                            <input [(ngModel)]="formModel.name" type="text" name="name" required placeholder="Nombre del desarrollo">
                        </div>
                        <div class="col-12 col-xl-12 col-lg-12 d-grid item-center mt-4">
                            <input [(ngModel)]="formModel.ubication" type="text" name="ubication" required placeholder="Ciudad, Municipio o Alcaldía">
                        </div>
                        <div class="col-12 col-xl-12 col-lg-12 d-grid item-center mt-4">
                            <input [(ngModel)]="formModel.zone" type="text" name="zone" required placeholder="Estado">
                        </div>
                        <div class="col-12 col-xl-12 col-lg-12 d-grid item-center mt-4">
                            <input [(ngModel)]="formModel.costPrev" type="text" name="costPrev" required placeholder="Precio anterior">
                        </div>
                        <div class="col-12 col-xl-12 col-lg-12 d-grid item-center mt-4">
                            <input [(ngModel)]="formModel.costNew" type="number" name="costNew" required placeholder="Precio actual">
                        </div>
                        <div class="col-12 col-xl-12 col-lg-12 d-grid item-center mt-4">
                            <input [(ngModel)]="formModel.mtsInmueble" type="text" name="mtsInmueble" required placeholder="Tamaño del Inmueble (mts²)">
                        </div>
                        <div class="col-12 col-xl-12 col-lg-12 d-grid item-center mt-4">
                            <input [(ngModel)]="formModel.mtsGround" type="text" name="mtsGround" required placeholder="Tamaño de construcción (mts²)">
                        </div>
                        <div class="col-12 col-xl-12 col-lg-12 d-grid item-center mt-4">
                            <input [(ngModel)]="formModel.bedrooms" type="text" name="bedrooms" required placeholder="Número de habitaciones">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="nav-home-tab">

                        <div class="col-12 col-xl-12 col-lg-12 d-grid item-center ">
                            <input [(ngModel)]="formModel.title" type="text" name="title" required placeholder="Descripción principal">
                        </div>
                        <div class="col-12 col-xl-12 col-lg-12 d-grid item-center mt-4">
                            <input [(ngModel)]="formModel.description" type="text" name="description" required placeholder="Descripción secundaria">
                        </div>
                        <div class="col-12 col-xl-12 col-lg-12 d-grid item-center mt-4">
                            <input [(ngModel)]="formModel.cardSubtitle" type="text" name="cardSubtitle" required placeholder="Texto descriptivo (breve)">
                        </div>
                        <div class="col-12 col-xl-12 col-lg-12 d-grid item-center mt-4">
                            <input [(ngModel)]="formModel.contactPhone" type="text" name="contactPhone" required placeholder="Teléfono de contacto">
                        </div>
                        <div class="col-12 col-xl-12 col-lg-12 d-grid item-center mt-4">
                            <input [(ngModel)]="formModel.image" type="text" name="image" required placeholder="URL de imágen de la fachada">
                        </div>
                        <div class="col-12 col-xl-12 col-lg-12 d-grid item-center mt-4">
                            <input [(ngModel)]="formModel.image2" type="text" name="image2" required placeholder="URL de imágen del interior (1)">
                        </div>
                        <div class="col-12 col-xl-12 col-lg-12 d-grid item-center mt-4">
                            <input [(ngModel)]="formModel.image3" type="text" name="image3" required placeholder="URL de imágen del interior (2)">
                        </div>
                        <div class="col-12 col-xl-12 col-lg-12 d-grid item-center mt-4">
                            <input [(ngModel)]="formModel.image4" type="text" name="image4" required placeholder="URL de imágen del interior (3)">
                        </div>
                    </div>
                </div>

                
                <!-- <mat-selection-list #amenitiesList >
                    <div class="col-lg-6" style="display: inline-block;">
                        <mat-list-option class="initial" value="Alberca">Alberca</mat-list-option>
                        <mat-list-option class="initial" value="Palapa">Palapa</mat-list-option>
                        <mat-list-option class="initial" value="Asadores">Asadores</mat-list-option>
                        <mat-list-option class="initial" value="Canchas">Canchas</mat-list-option>
                        <mat-list-option class="initial" value="Vigilancia">Vigilancia</mat-list-option>
                        <mat-list-option class="initial" value="Gym Exterior">Gym Exterior</mat-list-option>
                        <mat-list-option class="initial" value="Pet-Zone">Pet-Zone</mat-list-option>
                    </div>
                    <div class="col-lg-6" style="display: inline-block;">
                        <mat-list-option class="initial" value="Gimnasio">Gimnasio</mat-list-option>
                        <mat-list-option class="initial" value="Área Infantil">Área Infantil</mat-list-option>
                        <mat-list-option class="initial" value="Lounge Bar">Lounge Bar</mat-list-option>
                        <mat-list-option class="initial" value="Área de Juegos">Área de Juegos</mat-list-option>
                        <mat-list-option class="initial" value="Áreas Verdes">Áreas Verdes</mat-list-option>
                        <mat-list-option class="initial" value="Pista de Joggin">Pista de Joggin</mat-list-option>
                        <mat-list-option class="initial" value="Ecotecnologías">Ecotecnologías</mat-list-option>
                    </div>
                </mat-selection-list> -->

                <mat-selection-list #amenitiesList >

                    <div class="col-lg-4" style="display: inline-block; border-right-style: solid;">
                        <mat-list-option class="initial" value="Accesos controlados">Accesos controlados</mat-list-option>
                        <mat-list-option class="initial" value="Alacena">Alacena</mat-list-option>
                        <mat-list-option class="initial" value="Alberca y/o Chapotadero">Alberca y/o Chapotadero</mat-list-option>
                        <mat-list-option class="initial" value="Área comercial">Área comercial</mat-list-option>
                        <mat-list-option class="initial" value="Área de blancos">Área de blancos</mat-list-option>
                        <mat-list-option class="initial" value="Área de Juegos">Área de Juegos</mat-list-option>
                        <mat-list-option class="initial" value="Area de patinaje y/o Skate park">Área de patinaje y/o Skate park</mat-list-option>
                        <mat-list-option class="initial" value="Area de patinaje y/o Skate park">Área de patinaje y/o Skate park</mat-list-option>
                        <mat-list-option class="initial" value="Área de tendio">Área de tendio</mat-list-option>
                        <mat-list-option class="initial" value="Área de vestibulo">Área de vestibulo</mat-list-option>
                        <mat-list-option class="initial" value="Área Infantil">Área Infantil</mat-list-option>
                        <mat-list-option class="initial" value="Área o zona de lectura">Área o zona de lectura</mat-list-option>
                        <mat-list-option class="initial" value="Área o zona lounge Bar">Área o zona lounge Bar</mat-list-option>
                        <mat-list-option class="initial" value="Área para caminar y/o Trotar (pista jogging)">Área para caminar y/o Trotar (pista jogging)</mat-list-option>
                        <mat-list-option class="initial" value="Área zona o parque canino (Pet - zone)">Área zona o parque canino (Pet - zone)</mat-list-option>
                        <mat-list-option class="initial" value="Áreas Verdes (Jardín y/o parque y/o similar)">Áreas Verdes (Jardín y/o parque y/o similar)</mat-list-option>
                        <mat-list-option class="initial" value="Asadores">Asadores</mat-list-option>
                        <mat-list-option class="initial" value="Baños con canceles">Baños con canceles</mat-list-option>
                        <mat-list-option class="initial" value="Bardas y/o rejas perimetrales">Bardas y/o rejas perimetrales</mat-list-option>
                    </div>

                    <div class="col-lg-4" style="display: inline-block; border-right-style: solid;">
                        <mat-list-option class="initial" value="Biciestacionamiento">Biciestacionamiento</mat-list-option>
                        <mat-list-option class="initial" value="Cafetería">Cafetería</mat-list-option>
                        <mat-list-option class="initial" value="Camaras deseguridad">Camaras deseguridad</mat-list-option>
                        <mat-list-option class="initial" value="Cancha de Basketball">Cancha de Basketball</mat-list-option>
                        <mat-list-option class="initial" value="Cancha de Futbol">Cancha de Futbol</mat-list-option>
                        <mat-list-option class="initial" value="Cancha de padel">Cancha de padel </mat-list-option>
                        <mat-list-option class="initial" value="Cancha multiusos">Cancha multiusos</mat-list-option>
                        <mat-list-option class="initial" value="Casa Club">Casa Club</mat-list-option>
                        <mat-list-option class="initial" value="Caseta de Vigilancia y/o Accesos controlados">Caseta de Vigilancia y/o Accesos controlados</mat-list-option>
                        <mat-list-option class="initial" value="Centro médico">Centro médico</mat-list-option>
                        <mat-list-option class="initial" value="Centros comerciales">Centros comerciales</mat-list-option>
                        <mat-list-option class="initial" value="Cerca electrica">Cerca electrica</mat-list-option>
                        <mat-list-option class="initial" value="Ciclopista">Ciclopista</mat-list-option>
                        <mat-list-option class="initial" value="Closets">Closets</mat-list-option>     
                        <mat-list-option class="initial" value="Cocina Integral">Cocina Integral</mat-list-option>                    
                        <mat-list-option class="initial" value="Comercios">Comercios</mat-list-option>                    
                        <mat-list-option class="initial" value="Ecotecnologías">Ecotecnologías</mat-list-option>                    
                        <mat-list-option class="initial" value="Elevador">Elevador</mat-list-option>                    
                        <mat-list-option class="initial" value="Escuelas">Escuelas</mat-list-option>                                   
                    </div>

                    <div class="col-lg-4" style="display: inline-block;">
                        <mat-list-option class="initial" value="Estacionamiento para visitas">Estacionamiento para visitas</mat-list-option>  
                        <mat-list-option class="initial" value="Estudio">Estudio</mat-list-option>                  
                        <mat-list-option class="initial" value="Gimnasio">Gimnasio</mat-list-option>                  
                        <mat-list-option class="initial" value="Iglesia">Iglesia</mat-list-option>                  
                        <mat-list-option class="initial" value="Instalaciones electricas subterraneas y/o ocultas">Instalaciones electricas subterraneas y/o ocultas</mat-list-option>                  
                        <mat-list-option class="initial" value="Ludoteca">Ludoteca</mat-list-option>                  
                        <mat-list-option class="initial" value="Palapa">Palapa</mat-list-option>                  
                        <mat-list-option class="initial" value="Protección de herrerías">Protección de herrerías</mat-list-option>                  
                        <mat-list-option class="initial" value="Rampa de accesibilidad">Rampa de accesibilidad</mat-list-option>                  
                        <mat-list-option class="initial" value="Recamara con terraza">Recamara con terraza</mat-list-option>                  
                        <mat-list-option class="initial" value="Roof Garden o Terraza">Roof Garden o Terraza</mat-list-option>                  
                        <mat-list-option class="initial" value="Sala tv">Sala tv</mat-list-option>                  
                        <mat-list-option class="initial" value="Sistema de captación de agua pluvial">Sistema de captación de agua pluvial.</mat-list-option>                  
                        <mat-list-option class="initial" value="Sistemas ahorradores de agua">Sistemas ahorradores de agua</mat-list-option>                  
                        <mat-list-option class="initial" value="Sistemas ahorradores de energía eléctrica">Sistemas ahorradores de energía eléctrica </mat-list-option>                  
                        <mat-list-option class="initial" value="Supermercados">Supermercados</mat-list-option>                  
                        <mat-list-option class="initial" value="Transporte público">Transporte público</mat-list-option>                  
                        <mat-list-option class="initial" value="Vialidades con pavimento de concreto ecológico">Vialidades con pavimento de concreto ecológico</mat-list-option>                  
                        <mat-list-option class="initial" value="Vigilancia">Vigilancia</mat-list-option>                  
                    </div>

                </mat-selection-list>

                <div class="col-12 col-xl-12 col-lg-12 d-grid mt-6 item-center">
                    <button class="btn btn-secondary" type="submit">Guardar</button>
                </div>  
            </form>
        </div>
    </section>



    <app-footer></app-footer>  
</main>