/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-snack-bar-container {
    margin-top: 3em !important;
    background: #FE7A15;
    z-index: 10;
}

.img-portrait{
    background-image:url(assets/img/map-unity.jpeg);
    background-position: center;
    filter: brightness(1.2);
}

.mat-dialog-container{
    display: block;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
    padding: 0 !important;
}
