<section class="mt-7 py-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 py-5 py-xl-5 py-xxl-7" style="padding-bottom: 0 !important;">
        <h1 class="display-4 text-primary fw-bold">
          Tramitamos Créditos FOVISSSTE, INFONAVIT y BANCARIOS
        </h1>
        <h1 class="display-4 text-tertiary fw-bold">¿Dónde te interesa comprar?</h1>
        <div class="tab-content mb-3" id="nav-tabContent" style="margin-top: -2em; ">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="col-12 col-xl-10 col-lg-12 d-grid mt-6" style="height: 4em;">
                <select class="form-select form-select-lg" aria-label=".form-select-lg example" placeholder="TEST"
                        [(ngModel)]="dataInput" (ngModelChange)="dataChanged($event)" name="dataInput">
                  <option selected>{{dataInput}}</option>
                  <option value="Aguascalientes">Aguascalientes</option>
                  <option value="Baja California">Baja California</option>
                  <option value="CDMX">CDMX</option>
                  <option value="Chihuahua">Chihuahua</option>
                  <option value="Coahuila">Coahuila</option>     
                  <option value="Estado de México">Estado de México</option>   
                  <option value="Guanajuato">Guanajuato</option>     
                  <option value="Guerrero">Guerrero</option>     
                  <option value="Hidalgo">Hidalgo</option>     
                  <option value="Jalisco">Jalisco</option>              
                  <option value="Morelos">Morelos</option>
                  <option value="Nayarit">Nayarit</option>
                  <option value="Nuevo León">Nuevo León</option>
                  <option value="Oaxaca">Oaxaca</option>
                  <option value="Puebla">Puebla</option>                             
                  <option value="Queretaro">Queretaro</option>
                  <option value="Quintana Roo">Quintana Roo</option>  
                  <option value="Sonora">Sonora</option>
                  <option value="Tamaulipas">Tamaulipas</option>
                  <option value="Veracruz">Veracruz</option>
                  <option value="Yucatan">Yucatan</option>

                </select>

              </div>
              <div class="col-12 col-xl-10 col-lg-12 d-grid mt-4">
                <button class="btn btn-secondary" (click)="searchItem()">Buscar opciones</button>
              </div>            
          </div>
        </div>
        <!-- <h1 class="display-3 text-black fw-normal">Acreditado Fovissste:</h1> -->
        <!-- <h4 class="text-black fw-normal"> -->
          <!-- Si las opciones publicadas no se encuentran en el lugar que deseas o no se ajustan a tus necesidades llámanos,  -->
          <!-- ¡nosotros te ayudamos a buscar la casa de tus sueños! 
        </h4> -->
      </div>
      <div class="col-lg-6 py-5 py-xl-5 py-xxl-7">
        <video src="assets/video/portrait-new.mp4" autoplay muted loop class="size-video"></video>
      </div>
    </div>
  </div>
</section>