<section class="mt-7 py-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 py-5 py-xl-5 py-xxl-7">
        <h1 class="display-3 text-1000 fw-normal">¡Adquiere tu casa nueva!</h1>
        <h1 class="display-3 text-primary fw-bold">¿Dónde te interesa comprar?</h1>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="col-12 col-xl-10 col-lg-12 d-grid mt-6" style="height: 4em;">
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" placeholder="TEST"
                        [(ngModel)]="dataInput" (ngModelChange)="dataChanged($event)" name="dataInput">
                  <option selected>{{dataInput}}</option>
                  <option value="CDMX">CDMX</option>
                  <option value="Morelos">Morelos</option>
                </select>
              </div>
              <div class="col-12 col-xl-10 col-lg-12 d-grid mt-4">
                <button class="btn btn-secondary" (click)="searchItem()">Buscar opciones</button>
              </div>            
          </div>
        </div>
      </div>
      <div class="col-lg-6 py-5 py-xl-5 py-xxl-7">
        <video src="assets/video/portrait-new.mp4" autoplay muted loop class="size-video"></video>
      </div>
    </div>
  </div>
</section>