<div class="bg-primary-gradient h-100 d-flex align-items-end">
    <div class="row g-0 justify-content-start">
      <div class="col-xl-9">
        <div class="p-3 px-lg-4 text-light">
          <h2 class="mb-3 text-light">
            Somos un portal inmobiliario cuya misión es ser un puente entre desarrolladores y clientes.
          </h2>
          <p>
            Brindamos apoyo a quienes buscan obtener un patrimonio propio de acuerdo a sus necesidades familiares, presupuesto y la mejor plusvalía, fomentando siempre la cultura financiera.
          </p>
        </div>
      </div>
    </div>
</div>